HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

이지윤
#9154

dongseok — 2022.11.27. 오후 7:42
노래 들으면서 짜는건 어떠신가요
dongseok — 2022.11.27. 오후 7:49
저녁 드셨나요
이지윤 — 2022.11.27. 오후 7:49
아직 안먹었어요
dongseok — 2022.11.27. 오후 7:50
뭐 먹을거에요?
이지윤 — 2022.11.27. 오후 7:59
음,, 고민중인데 뭘 먹을지 모르겠어요
dongseok — 2022.11.27. 오후 8:00
혹시 같이먹을 사람 있나요?
이지윤 — 2022.11.27. 오후 8:00
아녀 아직요!
dongseok — 2022.11.27. 오후 8:01
그럼 같이 먹을래용?
이지윤 — 2022.11.27. 오후 8:01
엥 어디신데요???
dongseok — 2022.11.27. 오후 8:02
저 집이용
이지윤 — 2022.11.27. 오후 8:04
저 밥을 먹을지 말지도 고민입니당
dongseok — 2022.11.27. 오후 8:06
밥은 먹어야죠
먹을거면 지금 출발할게요
저도 혼자 먹기 싫어서리
이지윤 — 2022.11.27. 오후 8:10
죄송해여,, 저 오늘 할 게 많아서 안되겠어요ㅠ 다음에 먹어요..
dongseok — 2022.11.27. 오후 8:13
알겠습니당 😔
이지윤 — 2022.11.27. 오후 8:13
죄송합니당...
dongseok — 2022.11.27. 오후 8:15
아니에용 그래도 굶진 마시고 저녁 맛있는거 드세요! 🙃
이지윤 — 2022.11.27. 오후 8:39
동석님두요🤭
dongseok — 2022.12.01. 오후 8:44
뭐하세요?
이지윤 — 2022.12.01. 오후 8:44
저 백엔 과제요
dongseok — 2022.12.01. 오후 8:44
어디서요?
이지윤 — 2022.12.01. 오후 8:44
ta실잉
여
dongseok — 2022.12.01. 오후 8:45
일프 오시는거 어떠세요
이지윤 — 2022.12.01. 오후 8:45
곧 갈게여
ta실에서 공부할지도 몰라여
하하
dongseok — 2022.12.01. 오후 8:45
왜요 ?
이지윤 — 2022.12.01. 오후 8:46
일프에 사람 많아요?
마스크 벗고 있으려구요
dongseok — 2022.12.01. 오후 8:46
저 벗고있는뎅
이지윤 — 2022.12.01. 오후 8:46
엥
dongseok — 2022.12.01. 오후 8:46
오실람오세용
이지윤 — 2022.12.01. 오후 8:46
넹
dongseok — 2022.12.07. 오후 4:41
모하세용
이지윤 — 2022.12.07. 오후 4:41
저 2층 담배펴요
dongseok — 2022.12.07. 오후 4:42
담배 몸에 안좋은디
1프 오실래요 시험공부 같이하게
이지윤 — 2022.12.07. 오후 4:42
혼자 계세요???
dongseok — 2022.12.07. 오후 4:42
현수랑 있어요
이지윤
님이 38분 길이의 통화를 시작했어요.
 — 2023.01.07. 오전 2:34
dongseok — 2023.01.07. 오전 2:48
sudo apt-get install -y language-pack-en
sudo update-locale
vi ~/.zshrc
source ~/.zshrc
git log --oneline --graph
git push --force origin jiyun
이지윤 — 2023.01.07. 오전 3:12
☺️
이지윤
 님이 통화를 시작하셨어요.
 — 오늘 오후 10:09
dongseok — 오늘 오후 10:12
.gitignore
# Created by https://www.toptal.com/developers/gitignore/api/macos,intellij,java,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,intellij,java,gradle

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
... (103줄 남음)
접기
message.txt
5KB
﻿
# Created by https://www.toptal.com/developers/gitignore/api/macos,intellij,java,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,intellij,java,gradle

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# CodeStream plugin
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Azure Toolkit for IntelliJ plugin
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Gradle ###
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse Gradle plugin generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Gradle Patch ###
# Java heap dump
*.hprof

# End of https://www.toptal.com/developers/gitignore/api/macos,intellij,java,gradle